.container {
    position: relative;
    margin: 10vh 20vw 5vh;
    padding: 20px;
    border-radius: 10px;
}

.gradient {
    background: #C7F9CC;
    background: linear-gradient(181deg, #C7F9CC 0%, #fff 90%);
}